#btnEditar {
	width: 70% !important;
}

#gestoredit {
	margin: 0 !important;
	padding: 0 !important;
	align-content: center;
}

#formularioedit {
	margin: 15px 0px;
	border-radius: 15px;
}

.eliminar {
	/* display: flex; */
	/* justify-content: flex-end !important; */
	left: 84%;
	top: 8px;
	position: absolute;
	z-index: 100;
}

#borrar {
	/* width: 15% !important; */
	font-size: 0.8rem;
	/* margin-left: 20%; */
	border-radius: 20%;
}

#alert-dialog-title {
	background: #007385 !important;
	color: #fff;
}

#alert {
	color: black;
	font-weight: bold;
}

#botones {
	font-weight: bold !important;
	margin-right: 0.5rem;
}

.card .text-white .bg-primary .mb-3 {
	box-shadow: 0px 0px 5px 1px black;
}

.form {
	row-gap: 1rem;
}
.form input {
	/* margin-bottom: 0.5rem; */
	align-self: center;
	margin: 0 auto 0.5rem auto;
}
#formedit {
	/* width: 100% !important; */
}
