#logo {
    color: #f5b735 !important;
    font-weight: 400 !important;
    margin-left: 5% !important;
    text-shadow: 0 0px 9.6px rgba(0, 0, 0, 0.048), 0 0px 22.5px rgba(0, 0, 0, 0.062), 0 0px 42.8px rgba(0, 0, 0, 0.068), 0 0px 83.3px rgba(225, 225, 225, 225.07), 0 0px 223px rgba(225, 225, 225, 225.07);
}

.container-fluid{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 3% !important;
}

header{
    width: 100vw !important;
}

#botonesUser{
    margin-left: 70% !important;
}

#userSI, #userNO{
    align-items: right;    
    width: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}